
<head>

<link rel="stylesheet" href="faixa1.component.css">

</head>

<body>
   <div class="conteiner">

    <div class="imagem">
      <img src="../../../assets/images/warren.png" alt="" srcset="">
    </div>

    <div class="informacao">

      <div class="texto">DESCOMPLICOU</div>
      <div class="conteudo">Com apenas R$ 30 você já começa a investir</div>
      <div class="texto">Abra sua conta e invista nos seus sonhos.</div>
       <div class="botao"><button>Comece agora</button></div>
    </div>



   </div>
</body>
