

<head>
  <link rel="stylesheet" href="meu-primeiro2.component.css">
</head>

<body>
   <div class="conteiner-cabecalho">
      <div class="opition">

         <div class="logo">
          <img src="../../assets/images/Group 1092.svg" alt="" srcset=""/>
         </div>

         <div class="funções">
              <div>INVESTIR</div>
              <div>APRENDER </div>
              <div>PLANOS WARREN</div>
              <div>SOBRE</div>
              <div>COMO FUNCIONA</div>
              <div>BLOG</div>
         </div>

      </div>

      <div class="botoes">
        <div class="login">LOGIN</div>
        <div class="conta">ABRA SUA CONTA</div>
      </div>
   </div>

</body>
